{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Django Channels Chat Example</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

</head>
<body style="font-family:Verdana">
    <div class="container">
        <div class="row " style="padding-top:40px;">
            <h3 class="text-center" >Django Channels Chat Example </h3>
            <br /><br />
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        RECENT CHAT HISTORY
                        <a href="{% url 'chat_view' %}?clear_chat_history=1" class="btn btn-info btn-xs pull-right">CLEAR</a>
                    </div>
                    <div class="panel-body">
                        <ul id="chat-box" class="media-list">
                            {% for chat_message in chat_messages %}
                            <li class="media">
                                <div class="media-body" >
                                    {{ chat_message.message }}
                                    <br />
                                    <small class="text-muted">{{ chat_message.user.username }} | {{ chat_message.created }} </small>
                                    <hr />
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" id="text-input" class="form-control" placeholder="Enter Message" />
                            <span class="input-group-btn">
                                <button id="send-button" class="btn btn-info" type="button">SEND</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">ONLINE USERS</div>
                    <div class="panel-body">
                        <ul class="media-list">
                            {% for user in users %}
                            <li class="media">
                                <div class="media-body" >
                                    <h5>{{ user.username }} | User </h5>
                                    <small class="text-muted">Last Login: {{ user.last_login|default:'N/A'}}</small>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="panel panel-primary">
                    <div class="panel-heading">MESSAGE INFO</div>
                    <div class="panel-body">
                        <ul id="message-info" class="media-list">
                            <li>data: </li>
                            <li>origin: </li>
                            <li>target url: </li>
                            <li>type: </li>
                            <li>timestamp: </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var socket = new WebSocket("ws://" + window.location.host + "/chat/");

            $("#send-button").click(function () {

                socket.onmessage = function (e) {
                    var data = e.data.split(':');
                    $('#chat-box').append(
                        '<li class="media">' + 
                            '<div class="media-body" >' + data[1] + '<br />' + 
                                '<small class="text-muted">' + data[0] + ' | {{ now }}</small>' + 
                                '<hr />' + 
                            '</div>' + 
                        '</li>'
                    );
                    $('#text-input').val('');

                    $('#message-info').empty();
                    addMessageInfo('data', e.data);
                    addMessageInfo('origin', e.origin);
                    addMessageInfo('target url', e.target.url);
                    addMessageInfo('type', e.type);
                    addMessageInfo('timestamp', e.timeStamp);

                };

                socket.onopen = function () {
                    socket.send($('#text-input').val());
                };

                // Call onopen directly if socket is already open
                if (socket.readyState == WebSocket.OPEN) {
                    socket.onopen();
                }
            });
        });

        function addMessageInfo(name, element) {
            $('#message-info').append('<li>' + name + ': ' + element + '</li>');
        }
    </script>
</body>
</html>
