{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Django Channels Chat Example</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

</head>
<body style="font-family:Verdana">
    <div class="container">
        <div class="row " style="padding-top:40px;">
            <h3 class="text-center" >Django Channels Chat Example </h3>
            <br /><br />
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">RECENT CHAT HISTORY</div>
                    <div class="panel-body">
                        <ul id="chat-box" class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">Test User 1 | 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">Test User 2 | 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                           <small class="text-muted">Test User 1 | 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">Test User 2 | 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" id="text-input" class="form-control" placeholder="Enter Message" />
                            <span class="input-group-btn">
                                <button id="send-button" class="btn btn-info" type="button">SEND</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">ONLINE USERS</div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            <h5>Test User 1 | User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            <h5>Test User 2 | User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            <h5>Test User 3 | User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var socket = new WebSocket("ws://" + window.location.host + "/chat/");

            $("#send-button").click(function () {

                socket.onmessage = function (e) {
                    var chat_box = $('#chat-box');
                    chat_box.append(
                        '<li class="media">' + 
                            '<div class="media-body">' + 
                                '<div class="media">' + 
                                    '<div class="media-body" >' + e.data + '<br />' + 
                                        '<small class="text-muted">Test User 1 | 23rd June at 5:00pm</small>' + 
                                        '<hr />' + 
                                    '</div>' + 
                                '</div>' + 
                            '</div>' + 
                        '</li>'
                    );
                    $('#text-input').val('');
                };

                socket.onopen = function () {
                    var text_input = $('#text-input').val();
                    socket.send(text_input);
                };

                // Call onopen directly if socket is already open
                if (socket.readyState == WebSocket.OPEN) {
                    socket.onopen();
                }
            });
        });
    </script>
</body>
</html>
